<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Technova{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    {% block extra_head %}{% endblock %} {% if request.path.startswith('/admin')
    %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <div class="nav-inner">
        <a href="/" class="logo">
          <img src="{{ url_for('static', filename='img/Logo.jpg') }}" />
          <span>Technova</span>
        </a>

        <div class="search-box">
          <input type="text" placeholder="Bạn tìm gì..." />
        </div>

        <div class="nav-right">
          {% if session.get("account_id") %}
          <div class="account-dropdown">
            <a
              href="{% if session.get('role') == 'admin' %}/admin{% else %}/infor{% endif %}"
              class="nav-item login-item"
            >
              <img
                src="{{ url_for('avatar', account_id=session.get('account_id')) }}"
                class="header-avatar"
              />

              <span>
                {% if session.get("role") == "admin" %} Admin {% else %} {% if
                session.get("gender") == "Nữ" %} C. {% else %} A. {% endif %} {{
                session.get("last_name") }} {% endif %}
              </span>
            </a>

            <div class="account-menu">
              {% if session.get("role") == "admin" %}
              <a href="/admin" class="account-menu-item"> Trang quản trị </a>
              {% else %}
              <a href="/infor" class="account-menu-item"> Tài khoản của tôi </a>
              <a href="/orders" class="account-menu-item"> Đơn mua </a>
              {% endif %}

              <a href="/logout" class="account-menu-item"> Đăng xuất </a>
            </div>
          </div>

          {% else %}

          <a href="/signin" class="nav-item login-item">
            <img src="{{ url_for('static', filename='img/user.png') }}" />
            <span>Đăng nhập</span>
          </a>

          {% endif %} {% if session.get("role") != "admin" %}
          <a href="/cart" class="nav-item icon-item">
            <img src="{{ url_for('static', filename='img/cart.png') }}" />
          </a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- MENU -->
    <div class="sub-menu">
      <span onclick="window.location.href = '/products?category=phone'"
        >Điện thoại</span
      >
      <span onclick="window.location.href = '/products?category=tablet'"
        >Máy tính bảng</span
      >
      <span onclick="window.location.href = '/products?category=laptop'"
        >Laptop</span
      >
      <span onclick="window.location.href = '/products?category=ipad'"
        >iPad</span
      >
      <span onclick="window.location.href = '/products?category=audio'"
        >Tai nghe</span
      >
      <span onclick="window.location.href = '/products?category=accessory'"
        >Phụ kiện</span
      >
      <span onclick="window.location.href = '/products?category=watch'"
        >Đồng hồ</span
      >
      <span onclick="window.location.href = '/products?category=printer'"
        >Màn hình, Máy in</span
      >
    </div>

    <!-- CONTENT -->
    <div class="content">{% block content %}{% endblock %}</div>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-inner">
        <div class="footer-main">
          <div class="footer-col footer-brand">
            <h2>Technova</h2>

            <p class="footer-desc">
              Đồng hành cùng bạn trên hành trình khám phá và trải nghiệm những
              sản phẩm công nghệ chính hãng, chất lượng và xu hướng mới nhất
            </p>

            <div class="footer-address">
              <img
                src="{{ url_for('static', filename='img/location.png') }}"
                class="footer-location-icon"
              />
              <p>
                Tòa nhà 43C, 123 Đường Cách Mạng<br />
                Tháng 8, Quận Bình Thủy, Thành phố<br />
                Cần Thơ
              </p>
            </div>
          </div>

          <div class="footer-col footer-support">
            <h3>TỔNG ĐÀI HỖ TRỢ</h3>

            <div class="footer-contact-item">
              <img
                src="{{ url_for('static', filename='img/phone.png') }}"
                class="footer-contact-icon"
              />
              <span>1900 1987</span>
            </div>

            <div class="footer-contact-item">
              <img
                src="{{ url_for('static', filename='img/support_footer.png') }}"
                class="footer-contact-icon"
              />
              <span>0901068175</span>
            </div>

            <div class="footer-contact-item">
              <img
                src="{{ url_for('static', filename='img/mail.png') }}"
                class="footer-contact-icon"
              />
              <span>support@technova.com</span>
            </div>
          </div>

          <div class="footer-col footer-policy">
            <h3>CHÍNH SÁCH</h3>

            <a href="#">Chính sách bảo mật</a>
            <a href="#">Chính sách đổi trả</a>
            <a href="#">Chính sách vận chuyển</a>
            <a href="#">Điều khoản & dịch vụ</a>
          </div>

          <div class="footer-col footer-connect">
            <h3>KẾT NỐI VỚI TECHNOVA</h3>

            <div class="footer-socials">
              <a href="#" class="footer-social-link">
                <img
                  src="{{ url_for('static', filename='img/facebook.png') }}"
                  class="footer-social-icon"
                />
              </a>

              <a href="#" class="footer-social-link">
                <img
                  src="{{ url_for('static', filename='img/instagram.png') }}"
                  class="footer-social-icon"
                />
              </a>

              <a href="#" class="footer-social-link">
                <img
                  src="{{ url_for('static', filename='img/youtube.png') }}"
                  class="footer-social-icon"
                />
              </a>
            </div>

            <p class="footer-news-title">Đăng ký nhận bản tin</p>

            <div class="footer-email">
              <span>Email của bạn</span>
              <span class="footer-arrow">→</span>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          © 2024 TECHNOVA. ALL RIGHTS RESERVED. ARCHITECTURAL PRECISION IN
          TECHNOLOGY.
        </div>
      </div>
    </footer>

    <script>
      window.addEventListener("scroll", function () {
        const subMenu = document.querySelector(".sub-menu");
        const breadcrumb = document.querySelector(".breadcrumb");

        if (window.scrollY > 81) {
          subMenu.classList.add("hide-sub-menu");

          if (breadcrumb) {
            breadcrumb.classList.add("hide-breadcrumb");
          }
        } else {
          subMenu.classList.remove("hide-sub-menu");

          if (breadcrumb) {
            breadcrumb.classList.remove("hide-breadcrumb");
          }
        }
      });
    </script>

    <script>
      const passwordInput = document.getElementById("password");
      const eyeBtn = document.getElementById("togglePassword");

      if (passwordInput && eyeBtn) {
        eyeBtn.addEventListener("click", function () {
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeBtn.src = "{{ url_for('static', filename='img/view-eye.png') }}";
          } else {
            passwordInput.type = "password";
            eyeBtn.src = "{{ url_for('static', filename='img/hide-eye.png') }}";
          }
        });
      }
    </script>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
